@font-face {
    font-family: 'NimbusSan';
    src: url('../assets/fonts/NimbusSanL-Reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'NimbusSan';
    src: url('../assets/fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'QuickSand';
    src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'QuickSand';
    src: url('../assets/fonts/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'QuickSand';
    src: url('../assets/fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'QuickSand';
    src: url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'QuickSand';
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
